.header-main {
  width: 100%;
  background-color: #fdf6f4;
}

.header-main__wrap {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-main__phone {
  margin-bottom: 50px;
}
