.header-wrap {
  width: 100%;
  background-color: #fdf6f4;
}

.header-wrap__phone {
  display: inline-block;
  width: 1140px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.header-wrap__phone a {
  text-decoration: none;
}
