.site-text {
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.1px;
  color: #32312e;
  text-align: left;
}

.site-text--more {
  color: #97c22e;
}

.site-text--hymn {
  font-size: 20px;
  color: #97c22e;
  margin-left: 90px;
}
